extends ../../../templates/ui-template.pug
block content
    div
        include ../../../components/text-field/text-field
        +text-field('Text  Field', 'Email', '')
        include ../../../components/dropdown-people/dropdown-people
        +dropdown-people('Dropdown', 'Сколько гостей', '')


