
mixin color(color, description, value)
    .color
        .color__square(class='color__square_background-' + color)
        .color__text
            .color__description= description
            .color__value= value

