mixin dropdown-people(name, placeholder, value)
    .dropdown-people
        label.dropdown-people__name=name
        .dropdown-people__container
            .dropdown-people__input
                input(type=text placeholder=placeholder value=value).dropdown-people__value
                button.dropdown-people__button
            .dropdown-people__content
