$Dark-Shade100: #1F2041;
$Dark-Shade75: rgba(31, 32, 65, 0.75);
$Dark-Shade50: rgba(31, 32, 65, 0.5);
$Dark-Shade25: rgba(31, 32, 65, 0.25);
$Dark-Shade5: rgba(31, 32, 65, 0.05);
$Purple: #BC9CFF;
$Green: #6FCF97;
