@font-face {
  font-family: 'Montserrat';
  src:
          url('../fonts/Montserrat-Regular.woff') format('woff'),
          url('../fonts/Montserrat-Regular.ttf') format('truetype'),
          url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: 200;
  font-style: normal;
}



