html, body, h1, h2, h3, h4, h5, button, input, div, a, ul, li, p {
  margin: 0;
  padding: 0;

}

body {
  background: #FFFFFF;
}


.container {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
}
.header {

}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 145px;
  margin-left: 149.74px;

}

.colors-type {
  width: 1132px;
  height: 610px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.colors {
  width: 50%;
  display: flex;
  flex-direction: column;

  .colors__container {
    max-width: 281.26px;
    display: flex;
    flex-direction: column;
  }
  .colors__container > div:not(:first-child) {
    margin-top: 20px;
  }
}
.types {
  width: 50%;
  display: flex;
  flex-direction: column;

}
.types__container {
  max-width: 436px;
  height: 321px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 126px;
}

.types__container > div:not(:first-child) {
  margin-top: 52px;
}


