html, body, h1, h2, h3, h4, h5, button, input, div, a, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background: #FFFFFF;
}

.colors-type {
  margin-left: 150px;
  left: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.square {}
.colors {}
.type {}
