html, body, h1, h2, h3, h4, h5, button, input, div, a, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background: #FFFFFF;
}


.container {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
}
.header {

}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 145px;
}


.colors-type {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.colors {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .colors__container {
    max-width: 281.26px;
    display: flex;
    flex-direction: column;
  }
}
.types {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.types__container {
  max-width: 436px;
}
