extends ../../../templates/ui-template.pug
block content
    .colors-type
        .colors
            .colors__container
                -
                    var colorsArray = [
                        {color: 'Dark-Shade100', description: 'Dark Shade 100%', value: '#1F2041'},
                        {color: 'Dark-Shade75', description: 'Dark Shade 75%', value: '#1F2041'},
                        {color: 'Dark-Shade50', description: 'Dark Shade 50%', value: '#1F2041'},
                        {color: 'Dark-Shade25', description: 'Dark Shade 25%', value: '#1F2041'},
                        {color: 'Dark-Shade5', description: 'Dark Shade 5%', value: '#1F2041'},
                        {color: 'Purple', description: 'Purple', value: '#BC9CFF'},
                        {color: 'Green', description: 'Green', value: '#6FCF97'}
                    ]
                each objectColor in colorsArray
                    include ../../../components/color/color
                    +color(objectColor.color, objectColor.description, objectColor.value)
        .types
            .types__container
                -
                    var typesArray = [
                        {name: 'H1', text: 'This one is the sub-section or\n' + 'widget title'},
                        {name: 'H2', text: 'Next one is the item title inside\n widgets'},
                        {name: 'H3', text: 'This is a label or CTA text'},
                        {
                            name: 'Body',
                            text: 'This is the body text which is used for most\n of the design, like paragraphs, lists, etc.'
                        },

                    ]
                each objectType in typesArray
                    include ../../../components/type/type
                    +type(objectType.name, objectType.text)

