mixin type(name, text)
    .type
        .type__name(class='type_size-' + name)= name
        .type__text(class='type__text_width-' + name)
            .type__string
                each str in text
                    div= str

