@import '../../../assets/styles/types.scss';
@import '../../../assets/styles/colors.scss';
.type {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;

}

.type__name {
  color: $Dark-Shade25;
  text-align: right;
  width: 37px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;

}

.type__text {
  margin-left: 30px;
}

.type__string {
  list-style: none;
}

.type__text_width-H1 {
 // @include H1();
  color: $Dark-Shade100
}

.type__text_width-H2 {
  //@include H2();
  color: $Dark-Shade100
}

.type__text_width-H3 {
  //@include H3();
  color: $Dark-Shade100
}

.type__text_width-Body {
  //@include Body();
  color: $Dark-Shade75;
}

.type_size-H1 {
  font-size: 24px;
  line-height: 29px;
}

.type_size-H2 {
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 23px;
}

.type_size-H3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.type_size-Body {
  height: 50px;
  font-size: 14px;
  line-height: 24px;
}
