@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/types.scss';
.text-field {
  margin-left: 150px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-around;
  flex-grow: 1;
  width: 320px;
  height: 67px;
  @include H3
}

.text-field__name:focus {
  color: $Dark-Shade100;
}

.text-field__value {
  padding: 0 0 0 13px;
  max-width: 305px;
  width: 100%;
  height: 41px;
  box-sizing: content-box;
  border: 1px solid $Dark-Shade25;
  border-radius: 4px;
  outline: none;
  color: $Dark-Shade25;
  @include Body;
}

.text-field__value:focus {
  border: 1px solid $Dark-Shade50;
  color: $Dark-Shade75;
}
.text-field__value:hover {
  border: 1px solid $Dark-Shade50;
  color: $Dark-Shade75;
}
.text-field__value::placeholder {
  color: $Dark-Shade25;
}
